.banner{
    margin :50px auto;
    padding-top: 50px;
    height: 100%;
    position: relative;
    @include flex(row, flex-end, space-between);
    .banner_text{
        @include flex(column, flex-start, flex-start);
        h1{@include font(72px, ('Arial'), 700, none, $light); margin: 20px 0px;}
        p{@include font(16px, ('Arial'), 300, none, rgb(199, 198, 198)); margin: 20px 0px;}
        z-index: 10;
    }
    .banner_content{
        max-width :800px;
        margin: 40px 10px 0px 10px;
        height: auto;
        img{
            width: 100%;
            height :auto;
        }
    }
    @media(max-width: 767px){
        width: 100%;
        @include flex(column, center, center);
        .banner_text{
            width: 100%;
            h1{font-size: 50px;}
        }
        .banner_content{
            img{
                position: absolute;
                top: 100px;
                right: 10px;
                z-index: 1;
                opacity: 50%;
            }
        }
    }
    @media(max-width: 700px){
        .banner_content{
            img{
                top: 140px;
                right: 10px;
                z-index: 1;
                opacity: 50%;
            }
        }
    }
    @media(max-width: 600px){
        .banner_content{
            img{
                top: 200px;
                right: 10px;
                z-index: 1;
                opacity: 50%;
            }
        }
    }
    @media(max-width: 500px){
        .banner_content{
            img{
                top: 300px;
                right: 10px;
                z-index: 1;
                opacity: 50%;
            }
        }
    }
}